---
layout: page
title: Latest Posts
excerpt: "The latest posts about technology and development written by Rafael Biriba."
search_omit: true
---

<h5>
  <div>
    Welcome to my blog! Here you can find many mixed subjects!
  </div>
  <div>
    I wish that you can find something useful! (and well explained, I hope)
  </div>
  <div>
    Don't forget to share your opinion or feedback on the comments section!
  </div>
</h5>

  <div>
    <strong>Note:</strong> There are posts in english and in portuguese. You can easily spot them by the flag icon.
    <br />You are also invited to visit my dedicated blog: <a href="/blog/en/" class="entry-tags">&#x1F1EC;&#x1F1E7; English version</a> and <a href="/blog/br/" class="entry-tags">&#127463;&#127479; Portuguese version</a>!
  </div>

<hr />

<ul class="post-list">
{% for post in site.posts limit:20 %}
  {% include helper/post_element_of_lists.html %}
{% endfor %}
</ul>
