{% if include.lang == "en" %}
    {{ include.date | date: "%B %d, %Y"% }}
{% else %}
    {% assign d = include.date | date: "%d" % %}
    {% capture m %}
      {% assign x = include.date | date: "%m" %}
      {% case x %}
              {% when  '01' %}Janeiro
              {% when  '02' %}Fevereiro
              {% when  '03' %}Março
              {% when  '04' %}Abril
              {% when  '05' %}Maio
              {% when  '06' %}Junho
              {% when  '07' %}Julho
              {% when  '08' %}Agosto
              {% when  '09' %}Setembro
              {% when '10' %}Outubro
              {% when '11' %}Novembro
              {% when '12' %}Dezembro
      {% endcase %}
    {% endcapture %}
    {% assign y = include.date | date: "%Y" %}
    {{d}}/{{m | strip}}/{{y}}
{% endif %}
